# Python
venv/
__pycache__/
*.pyc

# Airflow
logs/
airflow/logs/
airflow.db
airflow/airflow.db
airflow.cfg
airflow-webserver.pid
airflow/airflow-webserver.pid
unittests.cfg
airflow/unittests.cfg

# Data (Too large for GH)
data/

# Credentials
.kaggle/
kaggle.json
